a################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Cycles
/Arrays
/Lists
/Chars&Strings
/jokes
/Poetry
/lesson6
/lesson7
/lesson8
/lesson9
/lesson10
/lesson11
/lesson12
/lesson13
/lesson14
/lesson15-18
/lesson19
/lesson20
/lesson21
/lesson23
/lesson24
